*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 67.5%;
}

body{
    background: #0B0D17;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
