.explore-button {
    cursor: pointer;
    width: 27.4rem;
    height: 27.4rem;
    flex-shrink: 0;
    border-radius: 274px;
    background: #FFF; 
    border: none;
    @include Heading-4;

    &:hover{
        box-shadow: 10px #888888;
        scale: 2;
    }
}