@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 67.5%; }

body {
  background: #0B0D17;
  box-sizing: border-box; }

header {
  display: flex;
  align-items: center;
  position: relative;
  top: 5%;
  width: 100%; }
  header .nav-bar__left {
    width: 45%;
    display: flex;
    align-items: center; }
    header .nav-bar__left #logo {
      width: 4.8rem;
      height: 4.8rem;
      flex-shrink: 0;
      margin: 0 5%; }
    header .nav-bar__left .line {
      width: 35%;
      height: 1px;
      flex-shrink: 0;
      position: absolute;
      left: 10rem;
      z-index: 2; }
  header .nav-bar__right {
    width: 60%;
    height: 96px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.77423px);
    display: flex;
    justify-content: space-evenly; }
    header .nav-bar__right .nav-list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      list-style: none; }
      header .nav-bar__right .nav-list .nav-item {
        height: 100%;
        display: flex;
        align-items: center; }
        header .nav-bar__right .nav-list .nav-item__link {
          font-family: "Barlow Condensed", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 2.7;
          color: white;
          line-height: normal;
          text-decoration: none;
          text-transform: uppercase; }
          header .nav-bar__right .nav-list .nav-item__link--number {
            font-family: "Barlow Condensed", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 2.7;
            color: white;
            line-height: normal;
            font-weight: bold;
            margin-right: 1.6rem; }
        header .nav-bar__right .nav-list .nav-item:hover {
          border-bottom: solid 2px rgba(255, 255, 255, 0.5); }
        header .nav-bar__right .nav-list .nav-item:active {
          border-bottom: solid 2px white; }

main {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/home/background-home-desktop.jpg);
  background-size: cover;
  position: absolute; }

.container {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  display: flex;
  width: 80%;
  margin: 0 auto; }
  .container__left {
    width: 50%; }
    .container__left .heading-3 {
      font-family: "Bellefair", serif;
      font-size: 5.6rem;
      color: white; }
    .container__left .heading-1 {
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 15rem;
      line-height: normal;
      color: white; }
    .container__left .body-text {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 1.8rem;
      letter-spacing: 2.7;
      line-height: 3.2rem;
      color: #d0d6f9;
      color: white; }
  .container__right {
    width: 50%;
    height: 50vh; }
