
@mixin Heading-1 {
    font-family: $BellefairFont;
    font-weight: 400;
    font-size: 15rem;
    line-height: normal;
}
@mixin Heading-2 {
    font-family: $BellefairFont;
    font-size: 10rem;
}
@mixin Heading-3 {
    font-family: $BellefairFont;
    font-size: 5.6rem;
}
@mixin Heading-4 {
    font-family: $BellefairFont;
    font-size: 3.2rem;
}
@mixin Heading-5 {
    font-family: $BarlowFont;
    font-size: 2.8rem;
    letter-spacing: 4.75;
}
@mixin Subheading-1 {
    font-family: $BellefairFont;
    font-size: 2.8rem;
    letter-spacing: 4.75;
    color: $lightblue;
    line-height: normal;
}
@mixin Subheading-2 {
    font-family: $BarlowFont;
    font-size: 1.4rem;
    letter-spacing: 2.35;
}
@mixin NavText {
    font-family: $BarlowFont;
    font-size: 1.6rem;
    letter-spacing: 2.7;
    color: $white;
    line-height: normal;
}
@mixin Bodytext {
    font-family: $BarlowFont;
    font-size: 1.8rem;
    letter-spacing: 2.7;
    line-height: 3.2rem;
    color: $lightblue;
}