#dest-body{
  background-image: url('../../assets/destination/background-destination-desktop.jpg');
  height: 100vh;
}

header {
  z-index: 3;
}

.title{
  width: 80%;
  margin: 0 auto;
  @include Subheading-1;
  &--number{
    @include Subheading-1;
    font-weight: bold;
    margin-right: 1.6rem;
    color: rgba(255, 255, 255, 0.445);
  }
}


  .destination--image{
    margin: 0 auto;
    .dest-image {
      height: 100%;
    }
  }
  .destination{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;

    .destination-heading-3{
    @include  Heading-3;
    color: $white;
    }
    .destination-heading-2{
      @include Heading-2;
      color: $white;
    }
    .destination-heading-1{
      @include Heading-1;
      color: $white;
    }

    .destination-sub-heading-1 {
      @include Subheading-1;
      color: $white;
    }

    .destination-sub-heading-2 {
      @include Subheading-2;
      color: $white;
      opacity: .5;
    }
    .destination-body-text {
      @include Bodytext;
      color: $white;
      opacity: .5;
    }

    .dest-data {
      margin-top: 4.8rem;
      display: flex;
      gap: 2.4rem;
      border-top: solid 1px rgba(128, 128, 128, 0.432);
      padding-top:1.8rem;
      width :100%;

      &__distance, &__time{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1.6rem;
      }
      
    }
  }

